<!DOCTYPE html>
<html>
    <%week_day = Time.now.strftime("%A")%>
    <%month = Time.now.strftime("%B")%>
    <%day = Time.now.strftime("%d") %>
    <%year = Time.now.strftime("%Y") %>
    <h1><%= "The date is #{week_day}, #{month} #{day}, #{year}" %></h1>
</html>




